.item{
    border:1px solid #3C0001;
    border-radius: 5px;
    margin-top: 30px;
    background: white;
}
.item-img{
    padding:25px;
}
.item-info{
    padding: 10px;
    border-top:1px solid #3C0001;
}
#navigation_bar {
    height: 75px;
}
.title{
    padding-left: 0;
    padding-right: 0;
}
.price{
    padding-left: 0;
    padding-right: 0;
}